.Left {
  background-color: #282c34;
  width: 200px;
  padding: 20px;
  text-align: center;
}

.Left .menu {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Left .menu:hover {
  background-color: #61dafb;
}
